rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin(){
      return request.auth != null && (request.auth.token.admin == true || request.auth.token.superadmin == true);
    }
    function isSuperAdmin(){
      return request.auth != null && request.auth.token.superadmin == true;
    }
    match /admins/{adminId} {
      allow read: if isAdmin();
      allow update: if isSuperAdmin() || request.auth.uid == resource.data.uid;
    }
    match /users/{userId}{
      allow read: if isAdmin() || request.auth.uid == resource.data.uid;
    }
    match /appGlobals/{id}{
      allow read: if isAdmin();
    }
    match /foods/{foodId}{
      allow read;
      allow write: if isAdmin();
    }
    match /foodCategories/{categoryId}{
      allow read;
      allow write: if isAdmin();
    }
    match /orders/{orderId}{
      allow read: if isAdmin() || request.auth.uid == resource.data.createdBy;
      allow create: if isAdmin() || request.auth.uid == request.resource.data.createdBy;
      allow update: if isAdmin();
      allow delete: if isSuperAdmin();
    }
    match /agents/{agentId}{
      allow read, create: if isAdmin() || request.auth.uid == request.resource.data.uid;
    }
    match /agentRequests/{agentRequestId}{
      allow read, delete: if isAdmin();
    }
  }
}